$font-size-base: 15px;

$color-white: white;
$color-blue-light: rgba(240, 248, 255, 0.727);
$color-blue-hover: rgba(17, 117, 162, 0.53);
$color-heading-bg: rgba(23, 131, 179, 0.53);

$color-tag-front: rgb(7, 187, 7);
$color-tag-back: rgb(251, 49, 49);
$color-tag-device: rgb(255, 225, 0);
$color-close: red;
